id ICON "resources/imagetomap.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Lasarus"
      VALUE "FileDescription", "Turns images into Minecraft maps."
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "ImageToMap"
      VALUE "LegalCopyright", "My Name"
      VALUE "OriginalFilename", "ImageToMap.exe"
      VALUE "ProductName", "ImageToMap"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
